.sola{
   margin-right: 20px;
   font-size: large;
}
.orta{
   font-size: large;
}
.sag{
   margin-left: 20px;
   font-size: large;
}
.font{
   font-size: xx-large;
   color:crimson;
}
.location{
   text-align: center;
}
.baslik1{
   font-size: xx-large;
   color: blueviolet;
}
.size{
   font-size: larger;
}
.sec-p{
   color:darkgoldenrod;
   font-size: larger;
}
.sec-ul{
   list-style-position: inside;
}
.sec-arp{
   margin-right: 20px;
}
.sec-gitar{
   margin-right: 13px;
}
.sec-klarnet{
   margin-left: 3px;
}
.sec-ol{
   list-style-position: inside;
  
}
.new-loc{
   text-align: left;
   font-size: larger;
}
.about-h1-color{
   color: darkgoldenrod;
}